@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system-ui;
    color: rgb(36, 62, 99)
}

ul {
    display: flex;
}

a {
    text-decoration: none;
    position: relative;
}

.purple {
    color: #6415ff;
}

.link__hover--effect {
    transition: all 400ms ease;
    border-bottom: 2px transparent solid;
}

.link__hover--effect:hover {
    border-color: #6415ff;
    color: #6415ff;
}

li {
    list-style-type: none;
    
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-size: 3rem !important;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 900 !important;
}



h4 {
    color: rgba(0, 0, 0, 0.774);  
}
    

h5 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #6415ff;
    font-size: 18px;
}

h3 {
    color: rgba(160,174,192);
    letter-spacing: 0.05em;
    font-weight: 700;
    font-size: 0.875rem;
}

p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.625;
    color: #383838cb;
}


.logo {
    width: 40px;
    height: 40px;
}

.text__logo--effect {
    transition: all 400ms ease;
}

.text__logo--effect:hover {
    color: #6415ff;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


section {
    padding: 96px 0;
}

body {
    font-family:
          system-ui,
          -apple-system, /* Firefox supports this but not yet `system-ui` */
          'Segoe UI',
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji';
  }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}


/*Navigation */

.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    padding-bottom: 0.25rem;
}

.logo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    border-bottom-width: 0px;
    font-size: 1.5rem !important;
    margin-left: 0px !important;
}

.text__logo {
    margin: 0 16px;
}

.nav__link {
    margin-left: 40px;
    font-size: .92rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    padding-bottom: 0.25rem;
    border-bottom-width: 2px;
    border-color: transparent;
}

.nav__link--2 {
    margin-left: 66px;
    margin-right: -18px;

}

.nav__button {
    background-color: rgba(100,21,255);
    padding: 0.75rem 2rem;
    border-radius: 1.25rem;
    font-size: 0.875rem;
    color: white;
}

.nav__button-hover--effect {
    transition: all 400ms ease;
}

.nav__button-hover--effect:hover {
    background-color:  rgb(55, 6, 153);
}

/* Header */

#header {
    display: flex;
    flex: column;
}

.header__40 {
    width: 40%;
}

.header__container {
    display: flex;
    flex-direction: column;
}

.header__title {
    line-height: 1.5;
    text-align: left;
    margin-bottom: 30px;
}

.header__para {
    margin: 2rem 0;
    text-align: left;
}

.header__submission {
    border: solid 2px #e5e7eb;
    border-radius: 9999px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.header__submission--effect {
    transition: all 400ms ease;
}

.header__submission--effect:hover {
    border-color: #3a3a3b8c;
}

.header__submission--email {
    border-style: none;
    outline: none;
    font-size: 18px;
    padding: 12px 0;
    margin-left: 12px;
}

.header__submission--button {
    background-color: #6415ff;
    color: white;
    border-style: none;
    padding: 16px 45px;
    border-radius: 9999px;
    font-size: 18px;
    font-weight: bold;
}

.header__submission--button--effect {
    transition: all 400ms ease;
}

.header__submission--button--effect:hover {
    background-color: #20035a;
    cursor: pointer;
}

.header__supporters--container {
    margin-top: 5rem;
}

.header__supporters--img {
    padding-right: 4rem;
    margin-top: 1rem;
    opacity: 0.5;
    width: 500px;
}

.header__img--40 {
    height: 100%;
    width: 100%;
}

/* Features */

.features__row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.features__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features__title {
    margin-top: 1rem;
    letter-spacing: 0.025em;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
}


.features__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.features__boxes {
    display: flex;
    padding: 32px 8px;
    margin: 0 16px;
    width: calc(100% / 4)
}

.features__icon {
    padding: 20px;
    border: 1px;
}

.features__icon--img {
    border: 2px solid #e5e7eb;
    border-radius: 9999px;
    padding: 1.25rem;
}

.features__boxes--title {
    font-size: 1.5rem;
    margin-top: 1rem;
    letter-spacing: 0.025em;
    font-weight: 700;
    line-height: 1;
}

.features__boxes--para {
    font-size: 16px;
    margin-top: 16px;
    font-weight: 500;
    line-height: 2;
}

.features__para {
    max-width: 36rem;
}

/* Quality Work */

.quality__work--container {
    display: flex;
}

.quality__work--left {
    width: 560px;
    margin-right: 60px;

}


.quality__work--img {
    width: 600px;
    border: solid 1px rgba(128, 128, 128, 0.336);
    border-radius: 8px;
}

.button__learnmore {
    margin-top: 2rem;
    font-size: 0.875rem;
    border-radius: 9999px;
    padding: 0.75rem 2rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #6415ff;
    border-color: transparent;
    color: white;
}

.button__learnmore--effect {
    transition: all 400ms ease;
}

.button__learnmore--effect:hover {
    background-color: #2b0479;
}

/* Steps */


.steps__container {
    display: flex;
    justify-content: space-between;
}

.steps__right {
    width: 505px;
    margin-left: 64px;
}

.steps__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img {
    width: 569px;
    height: 324px;
}

.steps__list {
    display: flex;
    flex-direction: column;
}

.steps__list--content {
    display: flex;
    margin-top: 32px;
}

.step__number {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1;
    color: rgb(221, 221, 221);
}

.step__text {
    margin-left: 24px;
}

.step__text--heading {
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 600;
}

.step__text--para {
    margin-top: 0.75rem;
    max-width: 20rem;
    line-height: 2;
    font-size: 0.875rem;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
    font-weight: 500;
}

/* Values */

.values__container {
    display: flex;
}

.values__container--right-img {
    width: 633px;
}

.values__container--title {
    display: flex;
    flex-direction: row;
}

.values__container--attribute-titlesvg {
    display: flex;
}

.values__container-1 {
    display: flex;
}

.values__container--attribute-1 {
    margin-top: 32px;
    margin-right: 32px;
}

.values__attribute-para {
    margin-top: 1rem;
    font-size: 16px;
    --tw-text-opacity: 1;
    color: rgba(113,128,150,var(--tw-text-opacity));
    line-height: 1.625;
}

.values__svg {
    margin-right: 16px;
}


/* Pricing */

.pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__description {
    text-align: center;
}

.pricing__plans {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    width: 100%;  
    padding: 50px;
}

.pricing__description--text-1 {
    max-width: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.pricing__plans--description-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.pricing__boarder--gradient {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: .5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
}



.pricing__plans--pesonal--header {
    padding: 50px;
    border-bottom: .5px rgba(182, 182, 182, 0.521) solid;
    border-left: .5px rgba(182, 182, 182, 0.521) solid;
    border-right: .5px rgba(182, 182, 182, 0.521) solid;
}


.pricing__plans--type {
    font-weight: bold;
   font-size: 1.25rem; 
   line-height: 1.625;
   text-transform: uppercase;

}

.personal__plans--price {
    font-size: 3rem;
    font-weight: 700;
    margin: .25rem 0;
    line-height: 1.625;
}

.personal__plans--time {
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1.625;
    text-transform: uppercase;
}

.pricing__plans--description-title {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin-top: 20px;
}

.pricing__plans--description {
    border-left: .5px rgba(182, 182, 182, 0.521) solid;
    border-right: .5px rgba(182, 182, 182, 0.521) solid;
    padding: 32px;
    
}

.pricing__plans--button {
    border: .5px rgba(182, 182, 182, 0.521) solid;
    padding: 2rem 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.pricing__plans--btn {
    border-radius: 9999px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 0.875rem;
    border: none;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__plans--description-list-item {
    margin-top: 1.25rem;
    font-weight: 500;

}

/*Second Box*/


.pricing__plans-2 {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: .5rem;
    padding: .5rem 0;
}

.pricing__plans--type-2 {
    font-weight: bold;
   font-size: 1.25rem; 
   line-height: 1.625;
   text-transform: uppercase;
   color: white;
}

.personal__plans--price-2 {
    font-size: 3rem;
    font-weight: 700;
    margin: .25rem 0;
    line-height: 1.625;
    color: white;
}

.personal__plans--time-2 {
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 1.625;
    text-transform: uppercase;
    color: white;
}

.pricing__plans--description-title-2 {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    margin-top: 20px;
    color: white;
}

.pricing__plans--description-2 {
    margin: 0 32px;
    padding: 32px;
}

.pricing__plans--description-list-item-2 {
    color: white;
    margin-top: 1.25rem;
    font-weight: 500;
}

.pricing__plans--button-2 {
    padding: 2rem 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-top: .5px rgba(182, 182, 182, 0.521) solid;
}

.pricing__plans--btn-2 {
    border-radius: 9999px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 0.875rem;
    border: none;
    background: white;

}

/*Third Box*/
.pricing__plans--btn-3 {
    border-radius: 9999px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    font-size: 0.875rem;
    border: none;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


.pricing__boarder--gradient-3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    height: .5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
}

/* Testimonial */

.testimonials__container {
    display: flex;
}
.testimonial__img {
    width: 634px;
}

.testimonials__column--right {
    padding-left: 64px;
}

.testimonials__star--container {
    display: flex;
}

.testimonials__stars--svg {
    width: 24px;
}

.testimonials__icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.author__icon {
    width: 100%;
}

.testimonials__stars {
fill: #f6ad55;
}

.testimonials__star--container {
    margin-top: 40px;
}

.testimonials__arrows {
    display: flex;
}

.testimonials__arrow--left {
    height: 15px;
    width: 16px;
}

.testimonials__subtitle {
    margin-top: 16px;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonials__para--2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.625;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(74,85,104,var(--tw-text-opacity));
}

.testimonials__author {
    display: flex;
    align-items: center;
}

.name__container {
    margin-left: 24px;
}

.name {
    font-weight: 700;
    font-size: 1.25rem;
}

.position {
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity)); 
}

/*FAQ*/

.faq__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq__row {
    max-width: 56rem;
}

.faq__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq__accordian {
    margin-top: 3rem;
}

.accordian {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    --tw-text-opacity: 1;
    color: rgba(45,55,72,var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(237,242,247,var(--tw-bg-opacity));
    padding: 16px 40px;
    margin-top: 20px;
    padding: 1rem 2.5rem;
}

.faq__para {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.625;
    --tw-text-opacity: 1;
    color: rgba(124,139,161,var(--tw-text-opacity));
    max-width: 36rem;
}

/*Banner*/

.banner {
    display: flex;
    justify-content: space-evenly;
    background: #6415ff;
    border-radius: 8px;
    padding: 96px 0;
}

.banner_left--title {
    width: 475px;
    font-size: 30px;
    color: #f7fafc;
    text-align: left;
    font-weight: bold;
}

.banner__btn--orange {
    background-color: #f56565;;
    border-width: 0;
    border-radius: 50px;
    padding: 12px 32px;
    color: rgb(247, 250, 252);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    padding: 20px 40px;
    font-size: 16px;
    height: 66px;
    max-width: 175px;
    margin-left: 24px;
}

.banner__btn--blue {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    padding: 12px 32px;
    color: rgb(247, 250, 252);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    padding: 20px 40px;
    font-size: 16px;
    height: 66px;
    max-width: 175px;
    margin-left: 24px;
}

/*footer*/

.footer__container--links {
    display: flex;
    justify-content: space-around;
}

.footer__main--links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.footer__main--title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 48px;
    color: white;
}

.footer__link {
    margin-top: 12px;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
}

.footer__link--hover {
    transition: all ease 400ms;
    border-bottom: 2px transparent solid;
}

.footer__link--hover:hover {
    border-bottom: 2px white solid;
}



.footer__bottom--divider {
    margin-top: 4rem;
    border-top: 2px solid;
    --tw-border-opacity: 1;
    border-color: rgba(116,44,255,var(--tw-border-opacity));
    /*border-color: rgba(116,44,255,var(--tw-border-opacity));*/
    width: 100%;
    margin: 64px 0;
    border-bottom: 2px;
}

.footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__img--logo {
    height: 32px;
    width: 32px;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__container {
    padding: 96px 32px;
    background: rgb(100, 21, 255);
    max-width: 100%;
}

.footer__row {
    max-width: 100%;
}

.footer__copyright {
    color: white;
}

.treact__logo {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));

}





























